Server,Database Driver,Database URL,Database Username,Database Password,LDAP URL,LDAP Bind DN,LDAP Bind Password
{{#servers}}
"{{name}}","{{database.driverClassName}}","{{database.url}}","{{database.username}}","{{database.password}}","{{ldap.ldapUrl}}","{{ldap.bindDn}}","{{ldap.bindPassword}}"
{{/servers}}
