Server,Database Driver,Database URL,Database Username,Database Password,LDAP URL,LDAP Bind DN,LDAP Bind Password
#foreach ($server in $servers)
"$server","$config.database.driverClassName","$config.database.url","$config.database.username","$config.database.password","$config.ldap.ldapUrl","$config.ldap.bindDn","$config.ldap.bindPassword"
#end
